@import './global_variables.scss';
.main {
   @include main;
   height: 100%;
   width: 100%;
   .cardContainer {
      padding: 20px;
      .imgMain {
         @include imageWithHover;
      }
   }
}
