@import './global_variables.scss';
.main {
   background-color: $secondary;
   width: 100%;

   .headerSection {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 500px;
      background-color: olivedrab;
      color: white;
      text-align: center;
      transition: all 1s;
      margin-top: 20px;
      @media (max-width: $media_mobile) {
         h2 {
            font-size: 4rem;
         }
      }
      &:hover {
         background-color: orange;
      }
      h2 {
         font-size: 64px;
      }
      h4 {
         font-size: 32px;
         color: #eee;
      }
   }

   .appBarMenuItem {
      transition: all 1s;
      &:hover {
         background-color: rebeccapurple;
         color: aliceblue;
      }
   }
   .img {
      width: auto;
      height: 600px;
      transition: all 1s;
      background-size: cover;
      margin-top: 50px;
      &:hover {
         transform: translateX(2px);
      }
   }
   .menuItem {
      &:hover {
         color: orangered;
         // border-bottom: 1px solid orangered;
      }
   }
   .cardImage {
      .image {
         width: 300px;
      }
   }
}

@keyframes fade {
   from {
      width: 0%;
   }
   to {
      width: 100%;
   }
}
