@import 'global_variables.scss';

.main {
   @include main;
   .themeButton {
      transition: all 1s;
      .themeIcon {
         &:hover {
            transform: scale(1.1);
            transition: all 1s;
         }
      }
   }
}
